@model MyBooks.Models.Book

@{
    ViewData["Title"] = "Edit";
}

<h1>Redigera</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit" class="p-4 border rounded bg-light shadow-sm">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="BookID" />
            <div class="mb-3">
                <label asp-for="Book_name" class="control-label"></label>
                <input asp-for="Book_name" class="form-control" />
                <span asp-validation-for="Book_name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="AuthorID" class="control-label"></label>
                <select asp-for="AuthorID" class="form-control" asp-items="ViewBag.AuthorID"></select>
                <span asp-validation-for="AuthorID" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Spara</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Tillbaka till boklistan</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
